D:\DjangoPrj\photolocationDjango\photolocation\apps\photolocation_map\templates\google_key.html/
D:\DjangoPrj\photolocationDjango\_windows/
D:\DjangoPrj\photolocationDjango\codestyles/
D:\DjangoPrj\photolocationDjango\inspection/