html, body, #map-canvas
{
    /* height of these elements */
    height: 100%;

    /* no margin around these elements */
    margin: 0;

    /* disable scrollbars */
    overflow: hidden;

    /* no padding within these elements */
    padding: 0;
}
.navbar {
    position: absolute;
    margin: 0;
    width: 100%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    border-width: 0px;
}
.dz-preview {
    display: none;
}


.btn-sigin:hover {
    background-color: #2b2b2b;
    color: white;
    text-decoration: none;
    border-color: #9d9d9d;
}

.btn-sigin:active {
    background-color: #2b2b2b!important;
    color: white!important;
    text-decoration: none;
}

.btn-sigin:focus {
    background-color: #2b2b2b;
    color: white;
    text-decoration: none;
}

.btn-sigin{
    color: #9d9d9d;
    border: 1px solid ;
    border-radius: 4px;
    background: transparent none;
    text-align: center;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    margin-top: 8px;
    text-decoration: none;
}

.modal-dialog{
    width: 90%;
}

.js-info-bubble-close{

}

.picture{
    display: flex;
    flex-wrap: wrap;
}
.imges{
    height: 200px;
    flex-grow: 1;
    object-fit: cover;
    margin: 2px;
}